[submodule "Pointnet2_PyTorch"]
	path = Pointnet2_PyTorch
	url = https://github.com/erikwijmans/Pointnet2_PyTorch.git
[submodule "RGed-research/captra/CAPTRA"]
	path = RGed-research/captra/CAPTRA
	url = https://github.com/HalfSummer11/CAPTRA.git
